# =========================
# Node.js / NestJS Projects
# =========================

# Dependencias
node_modules/

# Builds
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configs locales
.env
.env.*.local

# IDEs y OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Cache
.nyc_output
.next/
.cache/
